.nav-links {
  font-family: poppins;
}
.nav-links a {
  font-weight: bold;
  color: white;
}
.nav-links a:hover {
  color: white;
  text-decoration: underline;
  text-decoration-color: #ffba3c;
  text-decoration-thickness: 2px;
}
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.dropdown-content a {
  float: none;
  font-weight: bold;
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

.dropdown-content a:hover {
  text-decoration: underline;
  text-decoration-color: #ffba3c;
  text-decoration-thickness: 2px;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 2%;
}

.logo_img {
  width: 80px;
  height: 80px;
}

.login {
  color: white;
  padding: 9px 25px;
  background-color: #004080;
  border: none;
  border-radius: 50px;
  cursor: pointer;
  transition: all 0.3s ease 0s;
  font-family: poppins;
  font-weight: 445;
}

.login:hover {
  background-color: #047ffa;
}

.logo_text {
  font-family: poppins;
  font-size: 22px;
  color: white;
  font-weight: bold;
  padding: 10px;
  align-items: center;
  text-decoration: none;
  cursor: default;
}

.logo {
  display: flex;
  align-items: center;
  text-decoration: none;
}

body {
 
  margin: 0;
  background-image: linear-gradient(rgba(0, 0, 0, 0.195), rgba(0, 0, 0, 0.5));
}

body,
html {
  padding: 0%;
  margin: 0;
  height: 100%;
  
}

body {
  /* padding-bottom: 10%; */
  background-image: linear-gradient(rgba(0, 0, 0, 0.195), rgba(0, 0, 0, 0.5)),
    url(images/front-view-people-training-together-gym_23-2150289964.jpg);
  background-size: cover;
  background-position: top center;

  /* background-attachment: fixed; */
  /* background-repeat: no-repeat; */
}

/* CLASS SCEDULE GRID*/

.table-container {
  justify-content: center;
  display: flex;
  margin-top: 20px;
  flex-direction: column;
}
.table {
  margin-bottom: 100%;
}

.container {
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
  
}

body {
  margin-top: 20px;
  font-family: poppins;
  font-size: small;
  font-weight: 500;
  color: white;
}

/*WHITE BOXES*/
.bg-light-gray {
  background-color: #ffba3c;
}
.table-bordered thead td,
.table-bordered thead th {
  border-bottom-width: 2px;
}
.table thead th {
  vertical-align: bottom;
  border-bottom: 2px solid #dee2e6;
}
.table-bordered td,
.table-bordered th {
  border: 2px solid #dee2e6;
}

/*COLOURED ROUNDED RECTANGLES*/

.bg-sky.box-shadow {
  box-shadow: 0px 5px 0px 0px #00a2a7;
}

.bg-orange.box-shadow {
  box-shadow: 0px 5px 0px 0px #af4305;
}

.bg-green.box-shadow {
  box-shadow: 0px 5px 0px 0px #4ca520;
}

.bg-yellow.box-shadow {
  box-shadow: 0px 5px 0px 0px #dcbf02;
}

.bg-pink.box-shadow {
  box-shadow: 0px 5px 0px 0px #e82d8b;
}

.bg-purple.box-shadow {
  box-shadow: 0px 5px 0px 0px #8343e8;
}

.bg-lightred.box-shadow {
  box-shadow: 0px 5px 0px 0px #d84213;
}

.bg-sky {
  background-color: #02c2c7;
}

.bg-orange {
  background-color: #e95601;
}

.bg-green {
  background-color: #5bbd2a;
}

.bg-yellow {
  background-color: #f0d001;
}

.bg-pink {
  background-color: #ff48a4;
}

.bg-purple {
  background-color: #9d60ff;
}

.bg-lightred {
  background-color: #ff5722;
}

.padding-15px-lr {
  padding-left: 15px;
  padding-right: 15px;
}
.padding-5px-tb {
  padding-top: 5px;
  padding-bottom: 5px;
}
.margin-10px-bottom {
  margin-bottom: 10px;
}
.border-radius-5 {
  border-radius: 5px;
}

.margin-10px-top {
  margin-top: 10px;
}

/*TIME */

.align-middle{
  font-family: poppins;
  color: white;
  font-weight: 320;
}

.font-size14 {
  font-size: 14px;
  color: white;
}

.text-light-gray {
  color: #ffffff;
}

.font-size13 {
  font-size: 13px;
}

.table-bordered td,
.table-bordered th {
  border: 2px solid #ffffff;
}
.table td,
.table th {
  padding: 0.75rem;
  vertical-align: top;
  border-top: 1px solid #ffffff;
}
.registration {
  padding-bottom: 20px;
  text-align: center;
}

.registration button {
  font-family: poppins;
  font-weight: bold;
  display: inline-block;
  padding: 10px 30px;
  border: 2px solid #ffba3c;
  border-radius: 20px;
  text-decoration: none;
  color: white;
  background-color: transparent;
  /* position: absolute; */
  bottom: 5%;
  margin-left: 50%;
  margin-right: 50%;
  justify-content: center;
  cursor: pointer;
  margin-top: 20px;
  margin-bottom: 20px;
}

.registration button:hover {
  background-color: #ffba3c;
}

footer {
  /* position: absolute; */
  
  bottom: 0;
  left: 0;
  right: 0;
  background: #111;
  height: auto;
  width: 100%;
  padding-top: 40px;
  padding-bottom: -70px;
  color: #fff;
  z-index: 100;
  background: contain;
}
.footer-content {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
}
.footer-content h3 {
  font-size: 2.1rem;
  font-weight: 500;
  text-transform: capitalize;
  line-height: 3rem;
}
.footer-content p {
  max-width: 500px;
  margin: 10px auto;
  line-height: 28px;
  font-size: 14px;
  color: #cacdd2;
}
.socials {
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 1rem 0 3rem 0;
}
.socials li {
  margin: 0 10px;
}
.socials a {
  text-decoration: none;
  color: #fff;
  border: 1.1px solid white;
  padding: 5px;

  border-radius: 50%;
}
.socials a i {
  font-size: 1.1rem;
  width: 20px;

  transition: color 0.4s ease;
}
.socials a:hover i {
  color: aqua;
}

.footer-bottom {
  background: #000;
  width: 100vw;
  padding: 20px;
  padding-bottom: 40px;
  text-align: center;
  margin-top: 20px;
}
.footer-bottom p {
  float: left;
  font-size: 14px;
  word-spacing: 2px;
  text-transform: capitalize;
}
.footer-bottom p a {
  color: #44bae8;
  font-size: 16px;
  text-decoration: none;
}
.footer-bottom span {
  text-transform: uppercase;
  opacity: 0.4;
  font-weight: 200;
}
.footer-menu {
  float: right;
}
.footer-menu ul {
  display: flex;
}
.footer-menu ul li {
  padding-right: 10px;
  display: block;
}
.footer-menu ul li a {
  color: #cfd2d6;
  text-decoration: none;
}
.footer-menu ul li a:hover {
  color: #27bcda;
}

@media (max-width: 500px) {
  .footer-menu ul {
    display: flex;
    margin-top: 10px;
    margin-bottom: 20px;
  }
}
