
/* color links */

.nav-links a {
  float: left;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
  font-weight: bolder;
}

nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  min-height: 8vh;
  font-family: poppins;
  text-decoration: none;
}
nav a.active {
  color: white;
}

.nav-links li {
  list-style: none;
}
.nav-links {
  display: flex;
}
.nav-links a:hover {
  text-decoration: underline;
  text-decoration-color: #ffba3c;
  text-decoration-thickness: 2px;
}

body {
  margin: 0;
}

body,html {
  height: 100%;
}

.background {
  background-image: url(images/homebg.png);
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  
}


.main_text h1{

  font-family: poppins;
  color: white;
  font-weight: 800px;
  font-size: 80px;
  margin-top: 150px;
  margin-bottom: 0;
  text-align: center;
  text-decoration: none;
 
}

.main_text h2{

  font-size:x-large ;
  font-family:poppins ;
  margin: 20 auto;
  font-weight: 150px;
  line-height: 3px;
  color: #FFBA3C;
  text-align: center;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 2%;
}

.logo_img {
  width:  80px;
  height: 80px;
}

.login {
  color: white;
  padding: 9px 25px;
  background-color: #004080;
  border: none;
  border-radius: 50px;
  cursor: pointer;
  transition: all 0.3s ease 0s;
}

.login:hover {
  background-color: #047ffa;
}

.logo_text {
  font-family: poppins;
  font-size: 24px;
  color: white;
  font-weight: bold;
  padding: 10px;
  align-items: center;
  text-decoration: none;
  cursor: default;
}

.logo {
  display: flex;
  align-items: center;
  text-decoration: none;

}

/*SCROLLDOWN BUTTON */
.scroll-down{
  height:50px;
  width:50px;
  border: 2.5px solid white;
  position: absolute;
  left: 50%;
  bottom: 30px;
  border-radius: 200px;
  cursor: pointer;
}
.scroll-down::before,.scroll-down::after{
  content: '';
  position: absolute;
  top: 30%;
  left:50%;
  border: 2px solid #FFBA3C;
  height: 15px;
  width:15px;
  transform: translate(-50%,-98%) rotate(45deg);
  border-top: transparent;
  border-left: transparent;
  animation: scroll-down 1s ease-in-out infinite;
}
/*.scroll-down::after{
  top: 30%;
  animation-delay:.3s;
}*/

@keyframes scroll-down{

 0%{opacity: 0;
}
  30%{
    opacity: 1;
  }
  60%{opacity: 1;
  }
100%{opacity:0;
  top: 90%;
}
}


/*SECTION ONE */

.banner1{
  background-image: linear-gradient(rgba(0,0,0,0.100),rgba(0,0,0,0.50)),url(images/smiley-women-working-treadmill_23-2148419891.jpg);
  width:100%;
  height: 85vh;
  padding:60px 0;
  background-size: cover;
  margin:0 ; 
}

.transparent-box{
  background-color:rgba(60, 60, 60, 0.5);
  padding: 30px;
  border-radius: 20px;
  box-shadow: 0 0 6px rgba(0, 64, 128, 0.817); 
  width:500px;
  height:380px;
  margin:8.5vh auto 0;
  left: 50;
  transform: translateX(-60%);
}

.transparent-box p{

  font-size: 15px;
  line-height: 1.5;
  color: white;
  font-weight: 250;
  font-family: poppins;
}

.banner1 h2{
  font-family: poppins;
  text-align: center;
  color: white;
  margin-top: -60px;
  background-color: rgba(0, 0, 0, 0.3);
  padding: 30px;
  
}
.banner1 h2 a{
  text-decoration: none;
  cursor: default; 
}

/*BUTTON*/

.meet-trainers{
  font-family: poppins;
  font-weight: bold;
  display: inline-block;
  padding: 10px 30px;
  border: 2px solid #FFBA3C;
  border-radius: 20px;
  text-decoration: none;
  color: white;
  background-color:transparent;
  margin-left: 720px;
  position: relative;
  top: -50px;
  cursor: pointer;
}
.meet-trainers:hover{
  background-color: #FFBA3C;
}

/* SECTION TWO */

.banner2{
  background-image: linear-gradient(rgba(0,0,0,0.100),rgba(0,0,0,0.100)),url(images/young-sports-people-training-morning-gym_1157-32102.jpg);
  width:100%;
  height: 85vh;
  padding:60px 0;
  background-size: cover;
  margin:0 ; 
}

.transparent-box2{
  background-color:rgba(60, 60, 60, 0.5);
  padding: 30px;
  border-radius: 20px;
  box-shadow: 0 0 6px rgba(0, 64, 128, 0.817); 
  width:500px;
  height: 380px;
  margin:8.5vh auto 0;
  right: 0;
  transform: translateX(60%);
  
}

.transparent-box2 p{
  
  font-size: 15px;
  line-height: 1.5;
  color: white;
  font-weight: 250;
  font-family: poppins;
}

.banner2 h2{
  font-family: poppins;
  text-align: center;
  color: white;
  margin-top: -60px;
  background-color: rgba(0, 0, 0, 0.3);
  padding: 30px;
}

.banner2 h2 a{
  text-decoration: none;
  cursor: default; 
}

/*BUTTONS*/

.explore-classes{

  font-family: poppins;
  font-weight: bold;
  display: inline-block;
  padding: 10px 30px;
  border: 2px solid #FFBA3C;
  border-radius: 20px;
  text-decoration: none;
  color: white;
  background-color:transparent;
  margin-left: 520px;
  position: relative;
  top: -50px;
  cursor: pointer;
}
.explore-classes:hover {
  background-color: #FFBA3C;
}


/*SECTION THREE */

.banner3{

  background-image: linear-gradient(rgba(0,0,0,0.100),rgba(0,0,0,0.100)),url(images/exercise-machines-gym-without-people_637285-8444.jpg);
  width:100%;
  height: 78vh;
  padding:60px 0;
  background-size: cover;
  margin:0 ; 
}

.transparent-box3{
  background-color:rgba(60, 60, 60, 0.5);
  padding: 30px;
  border-radius: 20px;
  box-shadow: 0 0 6px rgba(0, 64, 128, 0.817); 
  width:500px;
  height:360px;
  margin:8.5vh auto 0;
  left: 50;
  transform: translateX(-60%);
  
}

.transparent-box3 p{
  
  font-size: 15px;
  line-height: 1.5;
  color: white;
  font-weight: 250;
  font-family: poppins;
}

/*BUTTON*/
.explore-facilities{

  font-family: poppins;
  font-weight: bold;
  display: inline-block;
  padding: 10px 30px;
  border: 2px solid #FFBA3C;
  border-radius: 20px;
  text-decoration: none;
  color: white;
  background-color:transparent;
  margin-left: 720px;
  position: relative;
  top: -50px;
  cursor: pointer;

  
}

.explore-facilities:hover {
  background-color: #FFBA3C;
}

.banner3 h2{
  font-family: poppins;
  text-align: center;
  color: white;
  margin-top: -60px;
  background-color: rgba(0, 0, 0, 0.3);
  padding: 30px;
}

.banner3 h2 a{
  text-decoration: none;
  cursor: default; 
}

