/* color links */
.nav-links a {
  float: left;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
  font-weight: bolder;
}

nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  min-height: 8vh;
  /* background-color: rgb(74, 154, 180); */
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
}
nav a.active {
  color: white;
}

.nav-links li {
  list-style: none;
}
.nav-links {
  display: flex;
}
.nav-links a:hover {
  text-decoration: underline;
  text-decoration-color: #ffba3c;
  text-decoration-thickness: 5px;
}

body {
  margin: 0;
}
body,
html {
  height: 100%;
}

.background {
  background-image: url(images/homebg.png);
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.main_text {
  color: #ffba3c;
  font-weight: bolder;
  align-items: center;
  padding-left: 32%;
  padding-top: 5%;
  font-size: larger;
}

/* .logo-image {
  width: 46px;
  height: 46px;
  border-radius: 50%;
  overflow: hidden;
  margin-top: -6px;
} */

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 5%;
}

.logo_img {
  width: 45px;
  height: 45px;
}

.login {
  color: white;
  padding: 9px 25px;
  background-color: #004080;
  border: none;
  border-radius: 50px;
  cursor: pointer;
  transition: all 0.3s ease 0s;
}

.login:hover {
  background-color: #047ffa;
}

.logo_text {
  font-size: 17px;
  color: white;
  font-weight: bold;
  padding: 10px;
}

.logo {
  display: flex;
  align-items: center;
}
