/* color links */

.nav-links a {
  float: left;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
  font-weight: bolder;
}

nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  min-height: 8vh;
  font-family: poppins;
  text-decoration: none;
}
nav a.active {
  color: white;
}

.nav-links li {
  list-style: none;
}
.nav-links {
  display: flex;
  /* margin-right: 28%; */
}
.nav-links a:hover {
  text-decoration: underline;
  text-decoration-color: #ffba3c;
  text-decoration-thickness: 2px;
}
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 3%;
}

.logo_img {
  width: 80px;
  height: 80px;
}

.login {
  color: white;
  padding: 9px 25px;
  background-color: #004080;
  border: none;
  border-radius: 50px;
  cursor: pointer;
  transition: all 0.3s ease 0s;
}

.login:hover {
  background-color: #047ffa;
}

.logo_text {
  font-family: poppins;
  font-size: 20px;
  color: white;
  font-weight: bold;
  padding: 10px;
  align-items: center;
  text-decoration: none;
  cursor: default;
}

.logo {
  display: flex;
  align-items: center;
  text-decoration: none;
}

body {
  margin: 0;
}

body,
html {
  height: 100%;
}

.background {
  background-image: url(images/homebg.png);
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.main_text h1 {
  font-family: poppins;
  color: white;
  font-weight: 800px;
  font-size: 80px;
  margin-top: 150px;
  margin-bottom: 0;
  text-align: center;
}

.main_text h2 {
  font-size: x-large;
  font-family: poppins;
  margin: 20 auto;
  font-weight: 150px;
  line-height: 3px;
  color: #ffba3c;
  text-align: center;
}

/* section 1 */

.banner1 {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url(images/Personal\ trainer\ certified.png);
  width: 100%;
  height: 85vh;
  padding: 60px 0;
  background-size: cover;
  margin: 0;
}

.transparent-box {
  background-color: rgba(60, 60, 60, 0.5);
  padding: 30px;
  border-radius: 20px;
  box-shadow: 0 0 6px rgba(0, 64, 128, 0.817);
  width: 500px;
  height: 400px;
  margin: 0 auto;
  position: absolute;
  left: 100px;
  top: 905px;
}

.transparent-box p {
  font-size: 15px;
  line-height: 1.5;
  color: white;
  font-weight: 250;
  font-family: poppins;
}

.banner1 h2 {
  font-family: poppins;
  text-align: center;
  color: white;
  margin-top: -60px;
  background-color: rgba(0, 0, 0, 0.3);
  padding: 30px;
}
.banner1 h2 a {
  text-decoration: none;
  cursor: default;
}

.meet-trainers {
  font-family: poppins;
  font-weight: bold;
  display: inline-block;
  padding: 10px 30px;
  border: 2px solid #ffba3c;
  border-radius: 20px;
  text-decoration: none;
  color: white;
  background-color: transparent;
  margin-top: 500px;
  margin-left: 700px;
}

/* section 2 */

.banner2 {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url(images/Fitness\ classes.jpeg);
  width: 100%;
  height: 85vh;
  padding: 60px 0;
  background-size: cover;
  margin: 0;
}

.transparent-box2 {
  background-color: rgba(60, 60, 60, 0.5);
  padding: 30px;
  border-radius: 20px;
  box-shadow: 0 0 6px rgba(0, 64, 128, 0.817);
  width: 500px;
  height: 440px;
  margin: 0 auto;
  position: absolute;
  left: 750px;
  top: px;
}

.transparent-box2 p {
  font-size: 15px;
  line-height: 1.5;
  color: white;
  font-weight: 250;
  font-family: poppins;
}

.banner2 h2 {
  font-family: poppins;
  text-align: center;
  color: white;
  margin-top: -60px;
  background-color: rgba(0, 0, 0, 0.3);
  padding: 30px;
}

.banner2 h2 a {
  text-decoration: none;
  cursor: default;
}

.explore-classes {
  font-family: poppins;
  font-weight: bold;
  display: inline-block;
  padding: 10px 30px;
  border: 2px solid #ffba3c;
  border-radius: 20px;
  text-decoration: none;
  color: white;
  background-color: transparent;
  margin-top: 500px;
  margin-left: 500px;
}

/*section 3 */

.banner3 {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url(images/Gym-Facilities.jpg);
  width: 100%;
  height: 85vh;
  padding: 60px 0;
  background-size: cover;
  margin: 0;
}

.transparent-box3 {
  background-color: rgba(60, 60, 60, 0.5);
  padding: 30px;
  border-radius: 20px;
  box-shadow: 0 0 6px rgba(0, 64, 128, 0.817);
  width: 500px;
  height: 430px;
  margin: 0 auto;
  position: absolute;
  left: 100px;
  top: px;
}

.transparent-box3 p {
  font-size: 15px;
  line-height: 1.5;
  color: white;
  font-weight: 250;
  font-family: poppins;
}

.explore-facilities {
  font-family: poppins;
  font-weight: bold;
  display: inline-block;
  padding: 10px 30px;
  border: 2px solid #ffba3c;
  border-radius: 20px;
  text-decoration: none;
  color: white;
  background-color: transparent;
  margin-top: 500px;
  margin-left: 700px;
}

.banner3 h2 {
  font-family: poppins;
  text-align: center;
  color: white;
  margin-top: -60px;
  background-color: rgba(0, 0, 0, 0.3);
  padding: 30px;
}

.banner3 h2 a {
  text-decoration: none;
  cursor: default;
}
